.all{
    display: grid;
    grid-template-columns:7fr 1fr 0.5fr;
    grid-template-rows: auto 80px;
    grid-template-areas:"body filterMenu"
    "btMoreMenu btUpMenu" ;
    grid-gap: 1%;

}

.body{
    grid-area: body;
    text-decoration: none;
    min-height: 78vh;
    padding: 0px;
}

.filterMenu{
    grid-area: filterMenu;
    padding: 0px;
    height: 40vh;
}
.itemFilter{
    height: 15%;
    list-style-type: none;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
}

.nameFilter{
    width: 100%;
}
.itemsFilterPoint{
    widows: 100%;;
}

.btMoreMenu{
    grid-area: btMoreMenu;
    justify-items: center;
}

.btMore{
    height: 40%;
    width: 10%;
}

.btMore:hover{
    background: var(--pumpkin-color);
    color: var(--blackColor);
    border: 2px solid  var(--blackColor); 
}
.btUpMenu{
    grid-area:btUpMenu;
}
.btUp{
    border-radius: 100%;
}




.itemPeople{
    display: grid;
    grid-template-areas: "avatar info addFrend";
    grid-template-columns: 10% 70% 20%;
    height: 15vh;
    list-style-type: none;
    align-items: center;
}

.avatar{
    grid-area: avatar;
    width: 100%;
    height: 100%;
}
.info{
    grid-area: info;
    text-decoration: none;
}
.itemsInfo{
    height: 20%;
    font-size: 2vh;
}
.addFrend{
    grid-area: addFrend;
    height: 40%;
    width: 90%;
}

.NavLink{
    opacity:inherit 0;
}
