  .header{
    grid-area: header;
   background-color:  var(--blackColor);
   display: inline-flex;
  
  } 
  .header_logo{
    display:block;
    height: 90%;
    background-color:  var(--blackColor);
    border-radius: 100%;
    transition: all .5s;
    
  }
  .header_logo:hover{
    box-shadow: inset 3px 3px 0px 5px  var(--blackColor);
    background-color:  var(--pumpkin-color);
  }

  